In [86]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from sklearn.utils import shuffle
import seaborn as sns
import pandas as pd

In [87]:
spark = SparkSession.builder.appName('abc').getOrCreate()

In [88]:
tips_df = sns.load_dataset("tips")
tips_df["id"] = tips_df.index
tips_df = shuffle(tips_df).reset_index()

In [89]:
# 从pandas 的dataFrame 创建spark DataFrame
spark_df = spark.createDataFrame(tips_df)

In [90]:
spark_df.show(3)

+-----+----------+----+------+------+---+------+----+---+
|index|total_bill| tip|   sex|smoker|day|  time|size| id|
+-----+----------+----+------+------+---+------+----+---+
|   13|     18.43| 3.0|  Male|    No|Sun|Dinner|   4| 13|
|   16|     10.33|1.67|Female|    No|Sun|Dinner|   3| 16|
|    7|     26.88|3.12|  Male|    No|Sun|Dinner|   4|  7|
+-----+----------+----+------+------+---+------+----+---+
only showing top 3 rows

## pyspark 对比 hive 操作
**pyspark的基本思想就是 lazy 操作 先用一系列的api来描述对数据的操作 后面spark会对操作进行转化**

**pyspark 可以将DataFrame 直接使用 df.createOrRepaceTempView("table_name") 转化为 hive table   
然后使用 spark.sql(<sql_string>) 来操作 返回新的DataFrame**   


**此处的对比仅包括读操作 hive大部分情况下是只读的**



pyspark 的操作中 有两种获取列的方式 
一是使用字符串 类似于pandas df["col1"] 
二是df.col1 直接将列名作为一个对象 来获取   
三是 from pyspark.sql.functions import col   col("col1") 来获取

和pandas的列可以直接显示不同 pyspark的 的列是 一个列对象 只是一个符号 只有在spark具体运行的过程中才会被解析

列对象运算后的结果 或者经过udf 返回的结果仍然是列对象

#### select
```SQL
select 
    tip,
    sex
from tips_df
```
select 参数就是选出列的子集

In [32]:
#直接使用字符春做参数 
df1 = spark_df.select("tip", "sex")
df1.show(2)

+----+------+
| tip|   sex|
+----+------+
|1.01|Female|
|1.66|  Male|
+----+------+
only showing top 2 rows

In [33]:
#使用字符串 + spark.sql.functions.col 获取列对象做参数
df2 = spark_df.select(F.col("tip"), F.col("sex").alias("sx"))
df2.show(2)

+----+------+
| tip|    sx|
+----+------+
|1.01|Female|
|1.66|  Male|
+----+------+
only showing top 2 rows

In [35]:
# 使用 对象成员 的方式获取列对象 
df3 = spark_df.select(spark_df.tip, spark_df.sex.alias("sx"))
df3.show(2)

+----+------+
| tip|    sx|
+----+------+
|1.01|Female|
|1.66|  Male|
+----+------+
only showing top 2 rows

In [38]:
# 使用索引的方式获取列队对象 也可以把列对象直接放在一个list 里面传入 
df4 = spark_df.select([spark_df["tip"], spark_df.sex.alias("sx")])
df4.show(2)

+----+------+
| tip|    sx|
+----+------+
|1.01|Female|
|1.66|  Male|
+----+------+
only showing top 2 rows

#### where 
```SQL
select 
    tip,
    sex
from tips_df
where smoker != 'No' and (size > 2 or sex = 'Female')
```
pypark的 where(filter的别名) 使用bool的列对象作为输入 使用 & | ~ 来对bool列对象进行运算  
或者直接用类似于 hive的 condition 字符串来进行运算   
下面列出了四种where的调用方式

In [16]:
# DataFrame 可以直接count查看行数 
# 但是并不是 sql中的那种对某一列进行count的函数 
spark_where_df.count()

93

In [22]:
# 使用 df.col 的方式来获取列对象 
# 注意 & 的优先级 要给条件语句加上括号才行！！！！
spark_where_df1 = spark_df.where((spark_df.smoker != 'No') & ((spark_df.size > 2) | (spark_df.sex == 'Female')))
spark_where_df1.show(3)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     38.01| 3.0|  Male|   Yes|Sat|Dinner|   4|
|     18.29|3.76|  Male|   Yes|Sat|Dinner|   4|
|      3.07| 1.0|Female|   Yes|Sat|Dinner|   1|
+----------+----+------+------+---+------+----+
only showing top 3 rows

In [29]:
# 和上面完成相同的功能
spark_where_df2 = spark_df.where((F.col("smoker") != 'No') & ((F.col("size") > 2) | (F.col("sex") == 'Female')))
spark_where_df2.show(3)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     38.01| 3.0|  Male|   Yes|Sat|Dinner|   4|
|     18.29|3.76|  Male|   Yes|Sat|Dinner|   4|
|      3.07| 1.0|Female|   Yes|Sat|Dinner|   1|
+----------+----+------+------+---+------+----+
only showing top 3 rows

In [24]:
# 和上面完成相同的功能
spark_where_df3 = spark_df.where((spark_df["smoker"] != 'No') & ((spark_df["size"] > 2) | (spark_df["sex"] == 'Female')))
spark_where_df3.show(3)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     38.01| 3.0|  Male|   Yes|Sat|Dinner|   4|
|     18.29|3.76|  Male|   Yes|Sat|Dinner|   4|
|      3.07| 1.0|Female|   Yes|Sat|Dinner|   1|
+----------+----+------+------+---+------+----+
only showing top 3 rows

In [25]:
# 和上面完成相同的功能 
spark_where_df4 = spark_df.where("smoker != 'No' and (size > 2 or sex = 'Female')")
spark_where_df4.show(3)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     38.01| 3.0|  Male|   Yes|Sat|Dinner|   4|
|     18.29|3.76|  Male|   Yes|Sat|Dinner|   4|
|      3.07| 1.0|Female|   Yes|Sat|Dinner|   1|
+----------+----+------+------+---+------+----+
only showing top 3 rows

#### sum count avg distinct
```SQL
select
    count(sex) as sex_cnt,
    count(day) as day_cnt,
    count(distinct sex) as sex_distinct_cnt,
    sum(tip) as tip_sum,
    sum(size) as size_sum
from tips_df
```
如果对 pyspark 的列 进行操作 那么就需要 借助 spark.sql.functions 里面的sum count countDistinct 来实现 需要描述输出的列  
推荐使用alias 对列名进行修正

In [30]:
aggr_df = spark_df.select(F.count(F.col("sex")).alias("sex_cnt"), 
                          F.count(F.col("day")).alias("day_cnt"), 
                          F.countDistinct(F.col("sex")).alias("sex_distinct_cnt"),
                          F.sum(F.col("tip")).alias("tip_sum"),
                          F.sum(F.col("size")).alias("size_sum")
                         )
aggr_df.show(3)

+-------+-------+----------------+-------+--------+
|sex_cnt|day_cnt|sex_distinct_cnt|tip_sum|size_sum|
+-------+-------+----------------+-------+--------+
|    244|    244|               2| 731.58|     627|
+-------+-------+----------------+-------+--------+

#### group by
```SQL
select
    sex,
    smoker,
    sum(tip) as tip_sum,
    sum(size) as size_sum,
    count(distinct day) as day_dis_cnt
from tips_df
group by sex, smoker
```
spark的DataFrame 使用groupBy（等价于 groupby） 后 变为一个 groupedData 对象   
数据对象转化过程   
DataFrame -> groupby() -> groupedData -> agg() -> DataFrame

In [43]:
# DataFrame -> groupby() -> groupedData -> agg() -> DataFrame
agg_df = spark_df.groupBy("sex", F.col("smoker")).agg(F.sum("tip").alias("tip_sum"), F.sum("size").alias("size_sum"), F.countDistinct("day").alias("day_dis_cnt"))
agg_df.show()
type(agg_df)

+------+------+-----------------+--------+-----------+
|   sex|smoker|          tip_sum|size_sum|day_dis_cnt|
+------+------+-----------------+--------+-----------+
|  Male|    No|            302.0|     263|          4|
|  Male|   Yes|           183.07|     150|          4|
|Female|    No|           149.77|     140|          4|
|Female|   Yes|96.74000000000001|      74|          4|
+------+------+-----------------+--------+-----------+

pyspark.sql.dataframe.DataFrame

In [51]:
# 使用字典参数 只能是 key 和 value都为string的字典 而且 无法重命名列 比较受限
agg_df = spark_df.groupBy("sex", F.col("smoker")).agg({"tip": "sum", "size": "sum", "day": "count"})
agg_df.show()
type(agg_df)

+------+------+---------+------------------+----------+
|   sex|smoker|sum(size)|          sum(tip)|count(day)|
+------+------+---------+------------------+----------+
|  Male|    No|      263|             302.0|        97|
|  Male|   Yes|      150|183.07000000000002|        60|
|Female|    No|      140|149.76999999999998|        54|
|Female|   Yes|       74|             96.74|        33|
+------+------+---------+------------------+----------+

pyspark.sql.dataframe.DataFrame

#### order by
```SQL
select
    sex,
    smoker, 
    tip,
    size
from tips_df
order by tips, size desc
```
order by 中的列要在select 中出现 order by 是最后执行的语句

In [60]:
# 列对象的 desc方法 返回 一个反向排序的列对象 
agg_df = spark_df.select("sex", "smoker", "tip", "size").orderBy(F.col("tip"), F.col("size").desc())
agg_df.show(3)

+------+------+---+----+
|   sex|smoker|tip|size|
+------+------+---+----+
|  Male|   Yes|1.0|   2|
|Female|   Yes|1.0|   2|
|Female|    No|1.0|   1|
+------+------+---+----+
only showing top 3 rows

In [61]:
#  或者使用 ascending方法对
agg_df = spark_df.select("sex", "smoker", "tip", "size").orderBy(F.col("tip"), F.col("size"), ascending=[True, False])
agg_df.show(3)

+------+------+---+----+
|   sex|smoker|tip|size|
+------+------+---+----+
|  Male|   Yes|1.0|   2|
|Female|   Yes|1.0|   2|
|Female|    No|1.0|   1|
+------+------+---+----+
only showing top 3 rows

### join union 测试
#### join
```SQL
select
    left_df.left_id as id,
    total_bill,
    smoker
from left_df join right_df on left_df.left_id = right_df.right_id
where size = 2
```

In [83]:
all_df = spark_df
left_df =  all_df[["id", "total_bill", "tip", "sex"]]
left_df.show(2)

+---+----------+----+------+
| id|total_bill| tip|   sex|
+---+----------+----+------+
|  0|     16.99|1.01|Female|
|  1|     10.34|1.66|  Male|
+---+----------+----+------+
only showing top 2 rows

In [84]:
right_df = all_df[["id", "smoker", "day", "time", "size"]]
right_df.show(2)

+---+------+---+------+----+
| id|smoker|day|  time|size|
+---+------+---+------+----+
|  0|    No|Sun|Dinner|   2|
|  1|    No|Sun|Dinner|   3|
+---+------+---+------+----+
only showing top 2 rows

In [92]:
# 合并的 on参数 是一个 bool列对象  drop 去掉多余的id列 
merged_df = left_df.join(right_df, on=left_df.id==right_df.id).drop(left_df.id)
merged_df.show(2)

+----------+---+------+---+------+---+------+----+
|total_bill|tip|   sex| id|smoker|day|  time|size|
+----------+---+------+---+------+---+------+----+
|     13.37|2.0|  Male| 26|    No|Sat|Dinner|   2|
|     19.65|3.0|Female| 29|    No|Sat|Dinner|   2|
+----------+---+------+---+------+---+------+----+
only showing top 2 rows

#### union
union all 不去重 union去重
```SQL
select
    *
from (
    select
        *
    from up_df
    union all
    select 
        *
    from down_df
) t
```

In [93]:
up_df = all_df.where(F.col("sex") == 'Male')
down_df = all_df.where(F.col("sex") != 'Male')
print("up_rows=", up_df.count())
print("down_rows=", down_df.count())

up_rows= 157
down_rows= 87

In [100]:
# union 是sql里面的union all
unioned_df = up_df.union(down_df)
print("unioned=", unioned_df.count())
unioned_df.where(F.col("size") == 5).show(10)

unioned= 244
+----------+----+------+------+----+------+----+---+
|total_bill| tip|   sex|smoker| day|  time|size| id|
+----------+----+------+------+----+------+----+---+
|     41.19| 5.0|  Male|    No|Thur| Lunch|   5|142|
|     20.69| 5.0|  Male|    No| Sun|Dinner|   5|185|
|     30.46| 2.0|  Male|   Yes| Sun|Dinner|   5|187|
|     28.15| 3.0|  Male|   Yes| Sat|Dinner|   5|216|
|     29.85|5.14|Female|    No| Sun|Dinner|   5|155|
+----------+----+------+------+----+------+----+---+

#### udf
- 此处的udf指按行操作 即每一行产生一个结果 此处以 size * total_bill + 1 为例

```SQL
select
    size * total_bill + 1  as res_col1
    size + total_bill + 2  as res_col2
from tips_df
```

In [105]:
# 比较简单的运算可以直接使用列对象之间的运算就行
res_df = spark_df.select((F.col("size") * F.col("total_bill") + 1).alias("res_col1"), 
                (F.col("size") + F.col("total_bill") + 2).alias("res_col2"))
res_df.show(2)

+------------------+--------+
|          res_col1|res_col2|
+------------------+--------+
|             74.72|   24.43|
|31.990000000000002|   15.33|
+------------------+--------+
only showing top 2 rows

In [104]:
# 使用udf 首先要使用 F.udf 创建一个函数对象 描述 一行的两个顺序的关系
udf_func1 = F.udf(lambda a, b: a * b + 1)
udf_func2 = F.udf(lambda a, b: a + b + 2)
res_df = spark_df.select(udf_func1(F.col("size"), F.col("total_bill")).alias("res_col1"), udf_func2(F.col("size"), F.col("total_bill")).alias("res_col2"))
res_df.show(2)

+------------------+--------+
|          res_col1|res_col2|
+------------------+--------+
|             74.72|   24.43|
|31.990000000000002|   15.33|
+------------------+--------+
only showing top 2 rows

#### udaf
```SQL
select
    avg(tip) + 100 as tip_avg,
    avg(size) + 100 as size_avg
from tips_df
group by sex
```
- 此处的udaf指对列进行操作 每列产生一个结果 此处以 sum(size) + 1 为例

PySpark 不支持UDAF   
解决方法如下：
collect_list + UDF = UDAF

https://stackoverflow.com/questions/46187630/how-to-write-pyspark-udaf-on-multiple-columns   
先使用 collect_set(col) and collect_list(col) 聚合成一个list 然后对list调用普通的 udf, udf的参数是一个list 
```SQL
select
     col2,
     udf(collect_list(col1)) as res_col
from table_name
group by col2
```

In [108]:
def func_a(x):
    return sum(x) / len(x) + 100

udf_agg = F.udf(func_a)
res_df = spark_df.agg(udf_agg(F.collect_list(F.col("tip"))).alias("tip_avg"), udf_agg(F.collect_list(F.col("size"))).alias("size_avg"))
res_df.show(2)

+------------------+------------------+
|           tip_avg|          size_avg|
+------------------+------------------+
|102.99827868852459|102.56967213114754|
+------------------+------------------+